@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{
   margin: 0%;
   padding: 0%;
    
}
body{
    margin: 0%;
    background-color: darkgray;
    
}
header{
    text-align: center;
    color: white;
    margin: 0%;
    padding: 0%;
    background-color: black;
    

}
header h1{
    margin-top: 0%;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

}
header p{
    margin-bottom: 0%;
    padding-bottom: 50px;
    
}
header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover{
    color: rgba(119, 119, 196, 0.637);
    
}
section{
    min-width: 320px;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;            
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-size: 3.5vw;
}
section p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;

}
section.imagem{

}
#imagem2{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
    
    
    
    color: white;
   

}
#imagem5{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-position-x: 80%;
    background-position-y: 80%;
    background-size: cover;
    

}
#imagem5 p{
     background-color: rgba(0, 0, 0, 0.377);
     display: inline-block;
     padding: 10px;
     text-align: justify;
     color: white;
 }
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    
    color: darkgray;
}